.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(93, 93, 93);
  }
  
  .content {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(145, 169, 182);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  button {
    padding: 10px;
    margin-top: 10px;
  }
  